%div#data-elements-content
  / PROFILE
  %div.box.w-300
    %div.title
      = image_tag 'icons_menu/profil.png', class: 'w-36'
      PROFILE
    = label :post, 'descriptions-elements' do
      = text_area_tag 'descriptions-elements', nil, style: 'width:97%;max-width:97%;height:50px'
    = label :post, 'name-elements' do
      %span.info
        Name
      = text_field_tag('name-elements', nil, placeholder: 'name...', class: 'gui-flat silver')
    = label :post, 'voice-elements' do
      %span.info
        Voice
      = text_field_tag 'voice-elements', nil, placeholder:'voice...', class: 'gui-flat silver'
    = label :post, 'sound-attack-elements' do
      %span.info
        Sound attack
      = text_field_tag('sound-attack-elements', nil, placeholder:'sound attack...',
                          class: 'gui-flat silver')
    = label :post, 'sound-die-elements' do
      %span.info
        Sound Die
      = text_field_tag('sound-die-elements', nil, placeholder:'sound die...',
                        class: 'gui-flat silver')
    = label :post, 'sound-birth-elements' do
      %span.info
        Sound Birth
      = text_field_tag('sound-die-elements', nil, placeholder:'sound birth...',
                        class: 'gui-flat silver')
    = label :post, 'icon-elements' do
      %span.info
        Icon
      = text_field_tag 'icon-elements', nil, placeholder:'icon...',
                         class: 'gui-flat silver'
    = label :post, 'model3d-elements' do
      %span.info
        Model 3D
      = text_field_tag('model3d-elements', nil, placeholder:'model3d',
                        class: 'gui-flat silver')
    = label :post, 'offset-elements' do
      %span.info
        Offset
      = text_field_tag('offset-x-elements', nil, class: 'gui-flat silver w-24 t-center',
                        placeholder: 'x...')
      = text_field_tag('offset-y-elements', nil, class: 'gui-flat silver w-24 t-center',
                        placeholder: 'y...')
      = text_field_tag('offset-z-elements', nil, class: 'gui-flat silver w-24 t-center',
                        placeholder: 'z...')
    = label :post, 'scale-elements' do
      %span.info
        Scale
      = text_field_tag('scale-x-elements', nil, class: 'gui-flat silver w-24 t-center',
                        placeholder: 'x...')
      = text_field_tag('scale-y-elements', nil, class: 'gui-flat silver w-24 t-center',
                        placeholder: 'y...')
      = text_field_tag('scale-z-elements', nil, class: 'gui-flat silver w-24 t-center',
                       placeholder: 'z...')
  #div.box.w-300.t-center
    #div.title.t-left
      = image_tag 'icons_menu/profil.png', class: 'w-36'
      CONTAINER ELEMENTS
    %button.button.little -
    = text_field_tag('container-elements', nil, placeholder:'enter element...',
                      class: 'gui-flat silver')
    %button.button.little +
    %div#container-elements.margin-top-10
      %span.button.minus.buildings-bg Humains
      %span.button.minus.buildings-bg Humains
      %span.button.minus.buildings-bg Humains
      %span.button.minus.buildings-bg Humains
      %span.button.minus.buildings-bg Humains
      %span.button.minus.buildings-bg Humains
      %span.button.minus.buildings-bg Humains
  %div.box.w-300
    %div.title.t-left
      = image_tag 'icons_menu/profil.png', class: 'w-36'
      INFORMATIONS
    = label :post, 'hitbox-information-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info hitbox
      = text_field_tag('hitbox-information-elements', nil, placeholder:'size of hitbox...',
                        class: 'gui-flat silver little', style: 'width:150px')
    = label :post, 'passthrough-information-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info Passthrough
      = check_box_tag('passthrought-information-elements', 'passthrought',
        false, class: 'margin-left-20')
    = label :post, 'attack-information-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info Attack
      = text_field_tag('attack-information-elements', nil, placeholder:'value attack...',
                        class: 'gui-flat silver little', style: 'width:150px')
    = label :post, 'hp-information-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info HP
      = text_field_tag('hp-information-elements', nil, placeholder:'value hp...',
                        class: 'gui-flat silver little', style: 'width:150px')
    = label :post, 'regen-hp-information-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info Regen HP
      = text_field_tag('regen-hp-information-elements', nil, placeholder:'Regen hp by 5sec...',
                        class: 'gui-flat silver little', style: 'width:150px')
    = label :post, 'type-ressource-information-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info Type ressource
      = select_tag('type-ressource-information-elements',
                    options_for_select([['none', 'none'], ['mana', 'mana'],
                                        ['rage', 'rage'], ['energy', 'energy']], 'none'),
                    class: 'margin-left-10')
    = label :post, 'ressource-information-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info Ressource
      = text_field_tag('ressource-information-elements', nil, placeholder:'value ressource...',
                        class: 'gui-flat silver little',
                        style: 'width:150px')
    = label :post, 'regen-ressource-information-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info Regen Ressource
      = text_field_tag('regen-ressource-information-elements', nil, placeholder:'Regen ressource..',
                        class: 'gui-flat silver little',
                        style: 'width:150px')
    = label :post, 'attack-speed-information-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info Attack speed
      = text_field_tag('attack-speed-information-elements', nil, placeholder:'Attack speed...',
                        class: 'gui-flat silver little', style: 'width:150px')
    = label :post, 'critick-information-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info Critick
      = text_field_tag('critick-information-elements', nil, placeholder:'value hp...',
                        class: 'gui-flat silver little', style: 'width:150px')
    = label :post, 'speed-information-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info Speed
      = text_field_tag('speed-information-elements', nil, placeholder:'value speed...',
                        class: 'gui-flat silver little', style: 'width:150px')
    = label :post, 'defense-information-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info Defense
      = text_field_tag('defense-information-elements', nil, placeholder:'value defense...',
                        class: 'gui-flat silver little', style: 'width:150px')
    = label :post, 'vision-night-information-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info Vision night
      = text_field_tag('vision-night-information-elements', nil, placeholder:'value vision night..',
                        class: 'gui-flat silver little', style: 'width:150px')
    = label :post, 'vision-day-information-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info Vision day
      = text_field_tag('vision-day-information-elements', nil, placeholder:'value vision day...',
                        class: 'gui-flat silver little', style: 'width:150px')
    = label :post, 'range-information-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info Range
      = text_field_tag('range-information-elements', nil, placeholder:'value range...',
                        class: 'gui-flat silver little', style: 'width:150px')
  %div.box.w-300
    %div.title.t-left
      = image_tag 'icons_menu/profil.png', class: 'w-36'
      RESSOURCE
    = label :post, 'type-ressource-cout-elements', class: 'margin-top-10 margin-bottom-10' do
      %span.light-info Type ressource
      = select_tag('type-ressource-cout-elements',
                    options_for_select([['none', 'none'], ['mana', 'mana'],
                                        ['rage', 'rage'], ['energy', 'energy']], 'none'),
                    class: 'margin-left-10')
