%div#top-menu.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  %div.container-fluid
    %div.navbar-header
      = link_to "Hexatyla Editor", "/", class: 'navbar-brand'
    %div.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %button.btn.btn-primary.btn-sm.margin-right-5{style: 'margin-top: 7px'}
            = image_tag("icons_menu/download.png", class: 'cube-24 glyphicon')
        %li.active
          = link_to "unknow.hxtl", "#", id: "file-name"
      %div
        - @link_menu.each do |obj|
          %button.btn.btn-primary.btn-sm.margin-right-5{style: 'margin-top: 7px'}
            = image_tag(obj.getImage(), class: 'cube-24')
            = image_tag(obj.getNewImage(), class: 'w-32 hidden')
